<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:ui="http://schemas.microsoft.com/wix/UIExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="Mapper" Language="1033" Version="1.7.0.0" Manufacturer="Onsight Helsinki oy" UpgradeCode="ce481f54-4813-4cdb-ad7b-ce11efe47176">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="Mapper" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <UI Id="UserInterface">
      <Property Id="WixUI_Mode" Value="Custom" />

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
      <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="ParametersDlg" Order="2"></Publish>
      <Publish Dialog="ParametersDlg" Event="EndDialog" Control="Next" Value="Return" Order="2"/>
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>



    </UI>
    <UIRef Id="WixUI_Common" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="DRIVE_LETTER" Value="Z" />
    <Property Id="DRIVE_NAME" Value="OneDrive" />
    <Property Id="SEND_ANALYTICS" Value="False" />
    <Property Id="APPLICATION_INSIGHT_KEY" Value="d1d1c83a-eab5-4822-9b41-4d337b3b649d" />
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Mapper" />
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent"  Win64='yes'>
        <File Source="$(var.Mapper.TargetPath)" />
        <File Source="$(var.Mapper.TargetPath).config" />
        <util:XmlFile Id='UpdateDriveLetter'
              Action='setValue'
              ElementPath="/configuration/userSettings/Mapper.Properties.Settings/setting[\[]@name='OneDriveLetter'[\]]/value"
              File='[INSTALLFOLDER]Mapper.exe.config' Value='[DRIVE_LETTER]' />
        <util:XmlFile Id='UpdateBaseUrl'
              Action='setValue'
              ElementPath="/configuration/userSettings/Mapper.Properties.Settings/setting[\[]@name='OneDriveBaseUrl'[\]]/value"
              File='[INSTALLFOLDER]Mapper.exe.config' Value='https://[BASE_URL]' />
        <util:XmlFile Id='UpdateDriveName'
              Action='setValue'
              ElementPath="/configuration/userSettings/Mapper.Properties.Settings/setting[\[]@name='OneDriveName'[\]]/value"
              File='[INSTALLFOLDER]Mapper.exe.config' Value='[DRIVE_NAME]' />
        <util:XmlFile Id='UpdateAnalyticsSending'
              Action='setValue'
              ElementPath="/configuration/userSettings/Mapper.Properties.Settings/setting[\[]@name='SendAnalyticsToDeveloper'[\]]/value"
              File='[INSTALLFOLDER]Mapper.exe.config' Value='[SEND_ANALYTICS]' />
        <util:XmlFile Id='UpdateApplicationInsightKey'
              Action='setValue'
              ElementPath="/configuration/userSettings/Mapper.Properties.Settings/setting[\[]@name='ApplicationInsightKey'[\]]/value"
              File='[INSTALLFOLDER]Mapper.exe.config' Value='[APPLICATION_INSIGHT_KEY]' />
        
      </Component>
      <Component Win64='yes' Id="RegistryKeyEntry">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\ZoneMap" ForceCreateOnInstall="yes">
          <RegistryKey Key="Domains" ForceCreateOnInstall="yes">
            <RegistryKey Key="[BASE_URL]" ForceCreateOnInstall="yes">
              <RegistryValue Type="integer" Name="https" Value="2" />
              <RegistryKey Key="www" ForceCreateOnInstall="yes">
                <RegistryValue Type="integer" Name="https" Value="2" />
              </RegistryKey>
            </RegistryKey>
          </RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run" ForceCreateOnInstall="yes">
           <RegistryValue Type="string" Name="Mapper Client" Value="[INSTALLFOLDER]Mapper.exe" KeyPath="yes"/>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>