<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Mapper.Properties.Settings>
            <setting name="OneDrivePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OneDriveLetter" serializeAs="String">
                <value>x</value>
            </setting>
            <setting name="OneDriveBaseUrl" serializeAs="String">
                <value>https://onsight-my.sharepoint.com</value>
            </setting>
            <setting name="SendAnalyticsToDeveloper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OneDriveName" serializeAs="String">
                <value>OneDrive drive</value>
            </setting>
            <setting name="ApplicationInsightKey" serializeAs="String">
                <value>d1d1c83a-eab5-4822-9b41-4d337b3b649d</value>
            </setting>
        </Mapper.Properties.Settings>
    </userSettings>
</configuration>